In [28]:
import pandas as pd
import re
pd.set_option('display.max_rows', 100)

In [2]:
stock = pd.read_csv("stock.csv")
stock

    Symbol                  Name
0      MMM                    3M
1      AOS           A. O. Smith
2      ABT                Abbott
3     ABBV                AbbVie
4      ACN             Accenture
..     ...                   ...
498    YUM           Yum! Brands
499   ZBRA    Zebra Technologies
500    ZBH         Zimmer Biomet
501   ZION  Zions Bancorporation
502    ZTS                Zoetis

[503 rows x 2 columns]

In [3]:
etf = pd.read_csv("etf.csv")
etf

                                Symbol, Name
0                           SPY,SPDR S&P 500
1                        GLD,SPDR Gold Trust
2                   VWO,Emerging Markets ETF
3       EEM,MSCI Emerging Markets Index Fund
4                   EFA,MSCI EAFE Index Fund
..                                       ...
94       IJJ,S&P MidCap 400 Value Index Fund
95  IEI,Barclays 3-7 Year Treasury Bond Fund
96          RSX,Market Vectors TR Russia ETF
97                  VBK,Small-Cap Growth ETF
98           ILF,Latin America 40 Index Fund

[99 rows x 1 columns]

In [4]:
etf[["Symbol", "Name"]] = etf['Symbol, Name'].str.split(",", expand=True)
etf.drop(['Symbol, Name'], axis=1, inplace=True)
etf

   Symbol                                  Name
0     SPY                          SPDR S&P 500
1     GLD                       SPDR Gold Trust
2     VWO                  Emerging Markets ETF
3     EEM      MSCI Emerging Markets Index Fund
4     EFA                  MSCI EAFE Index Fund
..    ...                                   ...
94    IJJ       S&P MidCap 400 Value Index Fund
95    IEI  Barclays 3-7 Year Treasury Bond Fund
96    RSX          Market Vectors TR Russia ETF
97    VBK                  Small-Cap Growth ETF
98    ILF           Latin America 40 Index Fund

[99 rows x 2 columns]

In [5]:
forex = pd.read_csv("forex.csv")
forex

                                     Symbol, Name
0              EUR/USD, Euro-Zone / United States
1               USD/JPY, United States / Japanese
2         GBP/USD, United Kingdom / United States
3            USD/CHF, United States / Switzerland
4              AUD/USD, Australia / United States
5                 USD/CAD, United States / Canada
6            NZD/USD, New Zealand / United States
7        EUR/CHF,         Euro-Zone / Switzerland
8     EUR/GBP,         Euro-Zone / United Kingdom
9             EUR/CAD,         Euro-Zone / Canada
10          EUR/AUD,        Euro-Zone / Australia
11       EUR/NZD,         Euro-Zone / New Zealand
12            EUR/JPY,          Euro-Zone / Japan
13    EUR/GBP,         Euro-Zone / United Kingdom
14       GBP/JPY,          United Kingdom / Japan
15  GBP/CHF,         United Kingdom / Switzerland
16      GBP/AUD,       United Kingdom / Australia
17        GBP/CAD,        United Kingdom / Canada
18  GBP/NZD,         United Kingdom / New Zealand
19            EUR/JPY,          Euro-Zone / Japan
20       GBP/JPY,          United Kingdom / Japan
21          CHF/JPY,          Switzerland / Japan
22                CAD/JPY,         Canada / Japan
23             AUD/JPY,         Australia / Japan
24           NZD/JPY,         New Zealand / Japan
25         AUD/CHF,       Australia / Switzerland
26             AUD/CAD,        Australia / Canada
27        AUD/NZD,        Australia / New Zealand
28           CAD/CHF,        Canada / Switzerland
29      NZD/CHF,        New Zealand / Switzerland
30           NZD/CAD,        New Zealand / Canada
31      USD/HKD,        United States / Hong Kong
32      USD/SGD,        United States / Singapore
33  USD/ZAR,         United States / South Africa
34      USD/THB,         United States / Thailand
35         USD/MXN,        United States / Mexico
36       USD/DKK,         United States / Denmark
37        USD/SEK,         United States / Sweden
38         USD/NOK,        United States / Norway
39        USD/INR,          United States / India
40       GBP/INR,          United Kingdom / India

In [6]:
forex[["Symbol", "Name"]] = forex['Symbol, Name'].str.split(",", expand=True)
forex.drop(['Symbol, Name'], axis=1, inplace=True)
forex["Name"] = [f for f in forex["Name"].str.strip()]
forex

     Symbol                            Name
0   EUR/USD       Euro-Zone / United States
1   USD/JPY        United States / Japanese
2   GBP/USD  United Kingdom / United States
3   USD/CHF     United States / Switzerland
4   AUD/USD       Australia / United States
5   USD/CAD          United States / Canada
6   NZD/USD     New Zealand / United States
7   EUR/CHF         Euro-Zone / Switzerland
8   EUR/GBP      Euro-Zone / United Kingdom
9   EUR/CAD              Euro-Zone / Canada
10  EUR/AUD           Euro-Zone / Australia
11  EUR/NZD         Euro-Zone / New Zealand
12  EUR/JPY               Euro-Zone / Japan
13  EUR/GBP      Euro-Zone / United Kingdom
14  GBP/JPY          United Kingdom / Japan
15  GBP/CHF    United Kingdom / Switzerland
16  GBP/AUD      United Kingdom / Australia
17  GBP/CAD         United Kingdom / Canada
18  GBP/NZD    United Kingdom / New Zealand
19  EUR/JPY               Euro-Zone / Japan
20  GBP/JPY          United Kingdom / Japan
21  CHF/JPY             Switzerland / Japan
22  CAD/JPY                  Canada / Japan
23  AUD/JPY               Australia / Japan
24  NZD/JPY             New Zealand / Japan
25  AUD/CHF         Australia / Switzerland
26  AUD/CAD              Australia / Canada
27  AUD/NZD         Australia / New Zealand
28  CAD/CHF            Canada / Switzerland
29  NZD/CHF       New Zealand / Switzerland
30  NZD/CAD            New Zealand / Canada
31  USD/HKD       United States / Hong Kong
32  USD/SGD       United States / Singapore
33  USD/ZAR    United States / South Africa
34  USD/THB        United States / Thailand
35  USD/MXN          United States / Mexico
36  USD/DKK         United States / Denmark
37  USD/SEK          United States / Sweden
38  USD/NOK          United States / Norway
39  USD/INR           United States / India
40  GBP/INR          United Kingdom / India

In [7]:
crypto = pd.read_csv("crypto.csv")
crypto

      Symbol                    Name
0    BTC-USD             Bitcoin USD
1    ETH-USD            Ethereum USD
2   USDT-USD              Tether USD
3    BNB-USD                 BNB USD
4   USDC-USD            USD Coin USD
..       ...                     ...
95   BGB-USD        Bitget Token USD
96   TWT-USD  Trust Wallet Token USD
97  RUNE-USD           THORChain USD
98  XAUT-USD         Tether Gold USD
99   LRC-USD            Loopring USD

[100 rows x 2 columns]

In [8]:
def dfs_tabs(df_list, sheet_list, file_name):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')   
    for dataframe, sheet in zip(df_list, sheet_list):
        dataframe.to_excel(writer, sheet_name=sheet, startrow=0 , startcol=0, index=False)   
    writer.save()

dfs = [stock, etf, forex, crypto]
sheets = ['Stock','ETF', 'Forex', 'Crypto']    
dfs_tabs(dfs, sheets, 'tickers.xlsx')

In [16]:
tickers_dict = {}
markets = ["Stock", "ETF", "Forex", "Crypto"]
tickers = pd.read_excel(
                "tickers.xlsx",
                sheet_name=None,
            )
for market in markets:
    market_df = tickers[f"{market}"].set_index("Symbol")
    market_dict = market_df["Name"].to_dict()
    tickers_dict[market] = market_dict

In [17]:
tickers_dict

{'Stock': {'MMM': '3M',
  'AOS': 'A. O. Smith',
  'ABT': 'Abbott',
  'ABBV': 'AbbVie',
  'ACN': 'Accenture',
  'ATVI': 'Activision Blizzard',
  'ADM': 'ADM',
  'ADBE': 'Adobe Inc.',
  'ADP': 'ADP',
  'AAP': 'Advance Auto Parts',
  'AES': 'AES Corporation',
  'AFL': 'Aflac',
  'A': 'Agilent Technologies',
  'APD': 'Air Products and Chemicals',
  'AKAM': 'Akamai',
  'ALK': 'Alaska Air Group',
  'ALB': 'Albemarle Corporation',
  'ARE': 'Alexandria Real Estate Equities',
  'ALGN': 'Align Technology',
  'ALLE': 'Allegion',
  'LNT': 'Alliant Energy',
  'ALL': 'Allstate',
  'GOOGL': 'Alphabet Inc. (Class A)',
  'GOOG': 'Alphabet Inc. (Class C)',
  'MO': 'Altria',
  'AMZN': 'Amazon',
  'AMCR': 'Amcor',
  'AMD': 'AMD',
  'AEE': 'Ameren',
  'AAL': 'American Airlines Group',
  'AEP': 'American Electric Power',
  'AXP': 'American Express',
  'AIG': 'American International Group',
  'AMT': 'American Tower',
  'AWK': 'American Water Works',
  'AMP': 'Ameriprise Financial',
  'ABC': 'AmerisourceBergen',
  'AME': 'Ametek',
  'AMGN': 'Amgen',
  'APH': 'Amphenol',
  'ADI': 'Analog Devices',
  'ANSS': 'Ansys',
  'AON': 'Aon',
  'APA': 'APA Corporation',
  'AAPL': 'Apple Inc.',
  'AMAT': 'Applied Materials',
  'APTV': 'Aptiv',
  'ACGL': 'Arch Capital Group',
  'ANET': 'Arista Networks',
  'AJG': 'Arthur J. Gallagher & Co.',
  'AIZ': 'Assurant',
  'T': 'AT&T',
  'ATO': 'Atmos Energy',
  'ADSK': 'Autodesk',
  'AZO': 'AutoZone',
  'AVB': 'AvalonBay Communities',
  'AVY': 'Avery Dennison',
  'BKR': 'Baker Hughes',
  'BALL': 'Ball Corporation',
  'BAC': 'Bank of America',
  'BBWI': 'Bath & Body Works, Inc.',
  'BAX': 'Baxter International',
  'BDX': 'Becton Dickinson',
  'WRB': 'Berkley',
  'BRK.B': 'Berkshire Hathaway',
  'BBY': 'Best Buy',
  'BIO': 'Bio-Rad',
  'TECH': 'Bio-Techne',
  'BIIB': 'Biogen',
  'BLK': 'BlackRock',
  'BK': 'BNY Mellon',
  'BA': 'Boeing',
  'BKNG': 'Booking Holdings',
  'BWA': 'BorgWarner',
  'BXP': 'Boston Properties',
  'BSX': 'Boston Scientific',
  'BMY': 'Bristol Myers Squibb',
  'AVGO': 'Broadcom Inc.',
  'BR': 'Broadridge Financial Solutions',
  'BRO': 'Brown & Brown',
  'BF.B': 'Brown–Forman',
  'BG': 'Bunge Limited',
  'CHRW': 'C.H. Robinson',
  'CDNS': 'Cadence Design Systems',
  'CZR': 'Caesars Entertainment',
  'CPT': 'Camden Property Trust',
  'CPB': 'Campbell Soup Company',
  'COF': 'Capital One',
  'CAH': 'Cardinal Health',
  'KMX': 'CarMax',
  'CCL': 'Carnival',
  'CARR': 'Carrier Global',
  'CTLT': 'Catalent',
  'CAT': 'Caterpillar Inc.',
  'CBOE': 'Cboe Global Markets',
  'CBRE': 'CBRE Group',
  'CDW': 'CDW',
  'CE': 'Celanese',
  'CNC': 'Centene Corporation',
  'CNP': 'CenterPoint Energy',
  'CDAY': 'Ceridian',
  'CF': 'CF Industries',
  'CRL': 'Charles River Laboratories',
  'SCHW': 'Charles Schwab Corporation',
  'CHTR': 'Charter Communications',
  'CVX': 'Chevron Corporation',
  'CMG': 'Chipotle Mexican Grill',
  'CB': 'Chubb Limited',
  'CHD': 'Church & Dwight',
  'CI': 'Cigna',
  'CINF': 'Cincinnati Financial',
  'CTAS': 'Cintas',
  'CSCO': 'Cisco',
  'C': 'Citigroup',
  'CFG': 'Citizens Financial Group',
  'CLX': 'Clorox',
  'CME': 'CME Group',
  'CMS': 'CMS Energy',
  'KO': 'Coca-Cola Company (The)',
  'CTSH': 'Cognizant',
  'CL': 'Colgate-Palmolive',
  'CMCSA': 'Comcast',
  'CMA': 'Comerica',
  'CAG': 'Conagra Brands',
  'COP': 'ConocoPhillips',
  'ED': 'Consolidated Edison',
  'STZ': 'Constellation Brands',
  'CEG': 'Constellation Energy',
  'COO': 'CooperCompanies',
  'CPRT': 'Copart',
  'GLW': 'Corning Inc.',
  'CTVA': 'Corteva',
  'CSGP': 'CoStar Group',
  'COST': 'Costco',
  'CTRA': 'Coterra',
  'CCI': 'Crown Castle',
  'CSX': 'CSX',
  'CMI': 'Cummins',
  'CVS': 'CVS Health',
  'DHI': 'D.R. Horton',
  'DHR': 'Danaher Corporation',
  'DRI': 'Darden Restaurants',
  'DVA': 'DaVita Inc.',
  'DE': 'John Deere',
  'DAL': 'Delta Air Lines',
  'XRAY': 'Dentsply Sirona',
  'DVN': 'Devon Energy',
  'DXCM': 'Dexcom',
  'FANG': 'Diamondback Energy',
  'DLR': 'Digital Realty',
  'DFS': 'Discover Financial',
  'DISH': 'Dish Network',
  'DIS': 'Disney',
  'DG': 'Dollar General',
  'DLTR': 'Dollar Tree',
  'D': 'Dominion Energy',
  'DPZ': "Domino's",
  'DOV': 'Dover Corporation',
  'DOW': 'Dow Inc.',
  'DTE': 'DTE Energy',
  'DUK': 'Duke Energy',
  'DD': 'DuPont',
  'DXC': 'DXC Technology',
  'EMN': 'Eastman Chemical Company',
  'ETN': 'Eaton Corporation',
  'EBAY': 'eBay',
  'ECL': 'Ecolab',
  'EIX': 'Edison International',
  'EW': 'Edwards Lifesciences',
  'EA': 'Electronic Arts',
  'ELV': 'Elevance Health',
  'LLY': 'Eli Lilly and Company',
  'EMR': 'Emerson Electric',
  'ENPH': 'Enphase',
  'ETR': 'Entergy',
  'EOG': 'EOG Resources',
  'EPAM': 'EPAM Systems',
  'EQT': 'EQT',
  'EFX': 'Equifax',
  'EQIX': 'Equinix',
  'EQR': 'Equity Residential',
  'ESS': 'Essex Property Trust',
  'EL': 'Estée Lauder Companies (The)',
  'ETSY': 'Etsy',
  'RE': 'Everest Re',
  'EVRG': 'Evergy',
  'ES': 'Eversource',
  'EXC': 'Exelon',
  'EXPE': 'Expedia Group',
  'EXPD': 'Expeditors International',
  'EXR': 'Extra Space Storage',
  'XOM': 'ExxonMobil',
  'FFIV': 'F5, Inc.',
  'FDS': 'FactSet',
  'FICO': 'Fair Isaac',
  'FAST': 'Fastenal',
  'FRT': 'Federal Realty',
  'FDX': 'FedEx',
  'FITB': 'Fifth Third Bank',
  'FRC': 'First Republic Bank',
  'FSLR': 'First Solar',
  'FE': 'FirstEnergy',
  'FIS': 'FIS',
  'FISV': 'Fiserv',
  'FLT': 'Fleetcor',
  'FMC': 'FMC Corporation',
  'F': 'Ford Motor Company',
  'FTNT': 'Fortinet',
  'FTV': 'Fortive',
  'FOXA': 'Fox Corporation (Class A)',
  'FOX': 'Fox Corporation (Class B)',
  'BEN': 'Franklin Templeton',
  'FCX': 'Freeport-McMoRan',
  'GRMN': 'Garmin',
  'IT': 'Gartner',
  'GEHC': 'GE HealthCare',
  'GEN': 'Gen Digital',
  'GNRC': 'Generac',
  'GD': 'General Dynamics',
  'GE': 'General Electric',
  'GIS': 'General Mills',
  'GM': 'General Motors',
  'GPC': 'Genuine Parts Company',
  'GILD': 'Gilead Sciences',
  'GL': 'Globe Life',
  'GPN': 'Global Payments',
  'GS': 'Goldman Sachs',
  'HAL': 'Halliburton',
  'HIG': 'Hartford (The)',
  'HAS': 'Hasbro',
  'HCA': 'HCA Healthcare',
  'PEAK': 'Healthpeak',
  'HSIC': 'Henry Schein',
  'HSY': "Hershey's",
  'HES': 'Hess Corporation',
  'HPE': 'Hewlett Packard Enterprise',
  'HLT': 'Hilton Worldwide',
  'HOLX': 'Hologic',
  'HD': 'Home Depot (The)',
  'HON': 'Honeywell',
  'HRL': 'Hormel Foods',
  'HST': 'Host Hotels & Resorts',
  'HWM': 'Howmet Aerospace',
  'HPQ': 'HP Inc.',
  'HUM': 'Humana',
  'HBAN': 'Huntington Bancshares',
  'HII': 'Huntington Ingalls Industries',
  'IBM': 'IBM',
  'IEX': 'IDEX Corporation',
  'IDXX': 'Idexx Laboratories',
  'ITW': 'Illinois Tool Works',
  'ILMN': 'Illumina',
  'INCY': 'Incyte',
  'IR': 'Ingersoll Rand',
  'PODD': 'Insulet',
  'INTC': 'Intel',
  'ICE': 'Intercontinental Exchange',
  'IFF': 'International Flavors & Fragrances',
  'IP': 'International Paper',
  'IPG': 'Interpublic Group of Companies (The)',
  'INTU': 'Intuit',
  'ISRG': 'Intuitive Surgical',
  'IVZ': 'Invesco',
  'INVH': 'Invitation Homes',
  'IQV': 'IQVIA',
  'IRM': 'Iron Mountain',
  'JBHT': 'J.B. Hunt',
  'JKHY': 'Jack Henry & Associates',
  'J': 'Jacobs Solutions',
  'JNJ': 'Johnson & Johnson',
  'JCI': 'Johnson Controls',
  'JPM': 'JPMorgan Chase',
  'JNPR': 'Juniper Networks',
  'K': "Kellogg's",
  'KDP': 'Keurig Dr Pepper',
  'KEY': 'KeyCorp',
  'KEYS': 'Keysight',
  'KMB': 'Kimberly-Clark',
  'KIM': 'Kimco Realty',
  'KMI': 'Kinder Morgan',
  'KLAC': 'KLA Corporation',
  'KHC': 'Kraft Heinz',
  'KR': 'Kroger',
  'LHX': 'L3Harris',
  'LH': 'LabCorp',
  'LRCX': 'Lam Research',
  'LW': 'Lamb Weston',
  'LVS': 'Las Vegas Sands',
  'LDOS': 'Leidos',
  'LEN': 'Lennar',
  'LNC': 'Lincoln Financial',
  'LIN': 'Linde plc',
  'LYV': 'Live Nation Entertainment',
  'LKQ': 'LKQ Corporation',
  'LMT': 'Lockheed Martin',
  'L': 'Loews Corporation',
  'LOW': "Lowe's",
  'LYB': 'LyondellBasell',
  'MTB': 'M&T Bank',
  'MRO': 'Marathon Oil',
  'MPC': 'Marathon Petroleum',
  'MKTX': 'MarketAxess',
  'MAR': 'Marriott International',
  'MMC': 'Marsh McLennan',
  'MLM': 'Martin Marietta Materials',
  'MAS': 'Masco',
  'MA': 'Mastercard',
  'MTCH': 'Match Group',
  'MKC': 'McCormick & Company',
  'MCD': "McDonald's",
  'MCK': 'McKesson',
  'MDT': 'Medtronic',
  'MRK': 'Merck & Co.',
  'META': 'Meta Platforms',
  'MET': 'MetLife',
  'MTD': 'Mettler Toledo',
  'MGM': 'MGM Resorts',
  'MCHP': 'Microchip Technology',
  'MU': 'Micron Technology',
  'MSFT': 'Microsoft',
  'MAA': 'Mid-America Apartment Communities',
  'MRNA': 'Moderna',
  'MHK': 'Mohawk Industries',
  'MOH': 'Molina Healthcare',
  'TAP': 'Molson Coors Beverage Company',
  'MDLZ': 'Mondelez International',
  'MPWR': 'Monolithic Power Systems',
  'MNST': 'Monster Beverage',
  'MCO': "Moody's Corporation",
  'MS': 'Morgan Stanley',
  'MOS': 'Mosaic Company (The)',
  'MSI': 'Motorola Solutions',
  'MSCI': 'MSCI',
  'NDAQ': 'Nasdaq, Inc.',
  'NTAP': 'NetApp',
  'NFLX': 'Netflix',
  'NWL': 'Newell Brands',
  'NEM': 'Newmont',
  'NWSA': 'News Corp (Class A)',
  'NWS': 'News Corp (Class B)',
  'NEE': 'NextEra Energy',
  'NKE': 'Nike, Inc.',
  'NI': 'NiSource',
  'NDSN': 'Nordson Corporation',
  'NSC': 'Norfolk Southern Railway',
  'NTRS': 'Northern Trust',
  'NOC': 'Northrop Grumman',
  'NCLH': 'Norwegian Cruise Line Holdings',
  'NRG': 'NRG Energy',
  'NUE': 'Nucor',
  'NVDA': 'Nvidia',
  'NVR': 'NVR, Inc.',
  'NXPI': 'NXP Semiconductors',
  'ORLY': "O'Reilly Auto Parts",
  'OXY': 'Occidental Petroleum',
  'ODFL': 'Old Dominion',
  'OMC': 'Omnicom Group',
  'ON': 'ON Semiconductor',
  'OKE': 'ONEOK',
  'ORCL': 'Oracle Corporation',
  'OGN': 'Organon & Co.',
  'OTIS': 'Otis Worldwide',
  'PCAR': 'Paccar',
  'PKG': 'Packaging Corporation of America',
  'PARA': 'Paramount Global',
  'PH': 'Parker Hannifin',
  'PAYX': 'Paychex',
  'PAYC': 'Paycom',
  'PYPL': 'PayPal',
  'PNR': 'Pentair',
  'PEP': 'PepsiCo',
  'PKI': 'PerkinElmer',
  'PFE': 'Pfizer',
  'PCG': 'PG&E Corporation',
  'PM': 'Philip Morris International',
  'PSX': 'Phillips 66',
  'PNW': 'Pinnacle West',
  'PXD': 'Pioneer Natural Resources',
  'PNC': 'PNC Financial Services',
  'POOL': 'Pool Corporation',
  'PPG': 'PPG Industries',
  'PPL': 'PPL Corporation',
  'PFG': 'Principal Financial Group',
  'PG': 'Procter & Gamble',
  'PGR': 'Progressive Corporation',
  'PLD': 'Prologis',
  'PRU': 'Prudential Financial',
  'PEG': 'Public Service Enterprise Group',
  'PTC': 'PTC',
  'PSA': 'Public Storage',
  'PHM': 'PulteGroup',
  'QRVO': 'Qorvo',
  'PWR': 'Quanta Services',
  'QCOM': 'Qualcomm',
  'DGX': 'Quest Diagnostics',
  'RL': 'Ralph Lauren Corporation',
  'RJF': 'Raymond James',
  'RTX': 'Raytheon Technologies',
  'O': 'Realty Income',
  'REG': 'Regency Centers',
  'REGN': 'Regeneron',
  'RF': 'Regions Financial Corporation',
  'RSG': 'Republic Services',
  'RMD': 'ResMed',
  'RHI': 'Robert Half',
  'ROK': 'Rockwell Automation',
  'ROL': 'Rollins, Inc.',
  'ROP': 'Roper Technologies',
  'ROST': 'Ross Stores',
  'RCL': 'Royal Caribbean Group',
  'SPGI': 'S&P Global',
  'CRM': 'Salesforce',
  'SBAC': 'SBA Communications',
  'SLB': 'Schlumberger',
  'STX': 'Seagate Technology',
  'SEE': 'Sealed Air',
  'SRE': 'Sempra Energy',
  'NOW': 'ServiceNow',
  'SHW': 'Sherwin-Williams',
  'SPG': 'Simon Property Group',
  'SWKS': 'Skyworks Solutions',
  'SJM': 'J.M. Smucker Company (The)',
  'SNA': 'Snap-on',
  'SEDG': 'SolarEdge',
  'SO': 'Southern Company',
  'LUV': 'Southwest Airlines',
  'SWK': 'Stanley Black & Decker',
  'SBUX': 'Starbucks',
  'STT': 'State Street Corporation',
  'STLD': 'Steel Dynamics',
  'STE': 'Steris',
  'SYK': 'Stryker Corporation',
  'SYF': 'Synchrony Financial',
  'SNPS': 'Synopsys',
  'SYY': 'Sysco',
  'TMUS': 'T-Mobile US',
  'TROW': 'T. Rowe Price',
  'TTWO': 'Take-Two Interactive',
  'TPR': 'Tapestry, Inc.',
  'TRGP': 'Targa Resources',
  'TGT': 'Target Corporation',
  'TEL': 'TE Connectivity',
  'TDY': 'Teledyne Technologies',
  'TFX': 'Teleflex',
  'TER': 'Teradyne',
  'TSLA': 'Tesla, Inc.',
  'TXN': 'Texas Instruments',
  'TXT': 'Textron',
  'TMO': 'Thermo Fisher Scientific',
  'TJX': 'TJX Companies',
  'TSCO': 'Tractor Supply',
  'TT': 'Trane Technologies',
  'TDG': 'TransDigm Group',
  'TRV': 'Travelers Companies (The)',
  'TRMB': 'Trimble Inc.',
  'TFC': 'Truist',
  'TYL': 'Tyler Technologies',
  'TSN': 'Tyson Foods',
  'USB': 'U.S. Bank',
  'UDR': 'UDR, Inc.',
  'ULTA': 'Ulta Beauty',
  'UNP': 'Union Pacific Corporation',
  'UAL': 'United Airlines Holdings',
  'UPS': 'United Parcel Service',
  'URI': 'United Rentals',
  'UNH': 'UnitedHealth Group',
  'UHS': 'Universal Health Services',
  'VLO': 'Valero Energy',
  'VTR': 'Ventas',
  'VRSN': 'Verisign',
  'VRSK': 'Verisk',
  'VZ': 'Verizon',
  'VRTX': 'Vertex Pharmaceuticals',
  'VFC': 'VF Corporation',
  'VTRS': 'Viatris',
  'VICI': 'Vici Properties',
  'V': 'Visa Inc.',
  'VMC': 'Vulcan Materials Company',
  'WAB': 'Wabtec',
  'WBA': 'Walgreens Boots Alliance',
  'WMT': 'Walmart',
  'WBD': 'Warner Bros. Discovery',
  'WM': 'Waste Management',
  'WAT': 'Waters Corporation',
  'WEC': 'WEC Energy Group',
  'WFC': 'Wells Fargo',
  'WELL': 'Welltower',
  'WST': 'West Pharmaceutical Services',
  'WDC': 'Western Digital',
  'WRK': 'WestRock',
  'WY': 'Weyerhaeuser',
  'WHR': 'Whirlpool Corporation',
  'WMB': 'Williams Companies',
  'WTW': 'Willis Towers Watson',
  'GWW': 'W. W. Grainger',
  'WYNN': 'Wynn Resorts',
  'XEL': 'Xcel Energy',
  'XYL': 'Xylem Inc.',
  'YUM': 'Yum! Brands',
  'ZBRA': 'Zebra Technologies',
  'ZBH': 'Zimmer Biomet',
  'ZION': 'Zions Bancorporation',
  'ZTS': 'Zoetis'},
 'ETF': {'SPY': 'SPDR S&P 500',
  'GLD': 'SPDR Gold Trust',
  'VWO': 'Emerging Markets ETF',
  'EEM': 'MSCI Emerging Markets Index Fund',
  'EFA': 'MSCI EAFE Index Fund',
  'QQQ': 'QQQ',
  'IVV': 'S&P 500 Index Fund',
  'TIP': 'Barclays TIPS Bond Fund',
  'VTI': 'Total Stock Market ETF',
  'LQD': 'iBoxx $ Investment Grade Corporate Bond Fund',
  'IWF': 'Russell 1000 Growth',
  'IWM': 'Russell 2000 Index Fund',
  'BND': 'Total Bond Market ETF',
  'AGG': 'Barclays Aggregate Bond Fund',
  'HYG': 'iBoxx $ High Yield Corporate Bond Fund',
  'IWD': 'Russell 1000 Value',
  'DIA': 'Dow Jones Industrial Average ETF',
  'JNK': 'SPDR Barclays Capital High Yield Bond ETF',
  'VNQ': 'REIT ETF',
  'IJH': 'S&P MidCap 400 Index Fund',
  'VIG': 'Dividend Appreciation ETF',
  'EWZ': 'MSCI Brazil Index Fund',
  'DVY': 'Dow Jones Select Dividend Index Fund',
  'MDY': 'SPDR MidCap Trust Series I',
  'SHY': 'Barclays 1-3 Year Treasury Bond Fund',
  'SLV': 'Silver Trust',
  'IAU': 'COMEX Gold Trust',
  'XLK': 'Technology Select Sector SPDR',
  'SDY': 'SPDR S&P Dividend ETF',
  'CSJ': 'Barclays 1-3 Year Credit Bond Fund',
  'PFF': 'S&P US Preferred Stock Fund',
  'XLE': 'Energy Select Sector SPDR',
  'VEA': 'Europe Pacific',
  'IJR': 'S&P SmallCap 600 Index Fund',
  'BSV': 'Short-Term Bond ETF',
  'XLF': 'Financial Select Sector SPDR',
  'VUG': 'Growth ETF',
  'IVW': 'S&P 500 Growth Index Fund',
  'IWB': 'Russell 1000 Index Fund',
  'VEU': 'FTSE All World Ex US ETF',
  'IWR': 'Russell Midcap Index Fund',
  'GDX': 'Market Vectors TR Gold Miners',
  'FXI': 'FTSE China 25 Index Fund',
  'XLU': 'Utilities Select Sector SPDR',
  'MOO': 'Market Vectors-Agribusiness ETF',
  'DBC': 'DB Commodity Index Tracking Fund',
  'VTV': 'Value ETF',
  'EWJ': 'MSCI Japan Index Fund',
  'XLP': 'Consumer Staples Select Sector SPDR',
  'MBB': 'Barclays MBS Bond Fund',
  'EWC': 'MSCI Canada Index Fund',
  'IVE': 'S&P 500 Value Index Fund',
  'CIU': 'Barclays Intermediate Credit Bond Fund',
  'IEF': 'Barclays 7-10 Year Treasury Bond Fund',
  'VB': 'Small-Cap ETF',
  'EMB': 'JP Morgan Emerging Markets Bond Fund',
  'AMJ': 'Alerian MLP Index ETN',
  'IWO': 'Russell 2000 Growth',
  'XLV': 'Health Care Select Sector SPDR',
  'IWN': 'Russell 2000 Value Index Fund',
  'IYR': 'Dow Jones U.S. Real Estate Index Fund',
  'VO': 'Mid-Cap ETF',
  'TBT': 'UltraShort Barclays 20+ Year Treasury',
  'IWP': 'Russell Midcap Growth Index',
  'OEF': 'S&P 100 Index Fund',
  'DEM': 'Emerging Markets Equity Income Fund',
  'XLI': 'Industrial Select Sector SPDR',
  'EWY': 'MSCI South Korea Index Fund',
  'EPP': 'MSCI Pacific Ex-Japan Index Fund',
  'IWV': 'Russell 3000',
  'VV': 'Large-Cap ETF',
  'EWG': 'MSCI Germany Index Fund',
  'XLY': 'Consumer Discretionary Select Sector SPDR',
  'IWS': 'Russell Midcap Value Index',
  'VYM': 'High Dividend Yield ETF',
  'RSP': 'S&P Equal Weight ETF',
  'IJK': 'S&P MidCap 400 Growth Index Fund',
  'BIV': 'Intermediate-Term Bond ETF',
  'TLT': 'Barclays 20 Year Treasury Bond Fund',
  'VOO': 'S&P 500 ETF',
  'MUB': 'S&P National Municipal Bond Fund',
  'AMLP': 'Alerian MLP ETF',
  'VCSH': 'Short-Term Corporate Bond Index Fund',
  'EWA': 'MSCI Australia Index Fund',
  'VGK': 'European ETF',
  'ICF': 'Cohen & Steers Realty Major',
  'RWX': 'SPDR DJ Wilshire Intl Real Estate',
  'ACWI': 'MSCI All Country World Index Fund',
  'EWT': 'MSCI Taiwan Index Fund',
  'DJP': 'Dow Jones-UBS Commodity Index TR ETN',
  'AAXJ': 'MSCI All Country Asia ex Japan Index Fund',
  'SHV': 'Barclays Short Treasury Bond Fund',
  'VGT': 'Information Tech ETF',
  'IJS': 'S&P SmallCap 600 Value Index Fund',
  'IJJ': 'S&P MidCap 400 Value Index Fund',
  'IEI': 'Barclays 3-7 Year Treasury Bond Fund',
  'RSX': 'Market Vectors TR Russia ETF',
  'VBK': 'Small-Cap Growth ETF',
  'ILF': 'Latin America 40 Index Fund'},
 'Forex': {'EUR/USD': 'Euro-Zone / United States',
  'USD/JPY': 'United States / Japanese',
  'GBP/USD': 'United Kingdom / United States',
  'USD/CHF': 'United States / Switzerland',
  'AUD/USD': 'Australia / United States',
  'USD/CAD': 'United States / Canada',
  'NZD/USD': 'New Zealand / United States',
  'EUR/CHF': 'Euro-Zone / Switzerland',
  'EUR/GBP': 'Euro-Zone / United Kingdom',
  'EUR/CAD': 'Euro-Zone / Canada',
  'EUR/AUD': 'Euro-Zone / Australia',
  'EUR/NZD': 'Euro-Zone / New Zealand',
  'EUR/JPY': 'Euro-Zone / Japan',
  'GBP/JPY': 'United Kingdom / Japan',
  'GBP/CHF': 'United Kingdom / Switzerland',
  'GBP/AUD': 'United Kingdom / Australia',
  'GBP/CAD': 'United Kingdom / Canada',
  'GBP/NZD': 'United Kingdom / New Zealand',
  'CHF/JPY': 'Switzerland / Japan',
  'CAD/JPY': 'Canada / Japan',
  'AUD/JPY': 'Australia / Japan',
  'NZD/JPY': 'New Zealand / Japan',
  'AUD/CHF': 'Australia / Switzerland',
  'AUD/CAD': 'Australia / Canada',
  'AUD/NZD': 'Australia / New Zealand',
  'CAD/CHF': 'Canada / Switzerland',
  'NZD/CHF': 'New Zealand / Switzerland',
  'NZD/CAD': 'New Zealand / Canada',
  'USD/HKD': 'United States / Hong Kong',
  'USD/SGD': 'United States / Singapore',
  'USD/ZAR': 'United States / South Africa',
  'USD/THB': 'United States / Thailand',
  'USD/MXN': 'United States / Mexico',
  'USD/DKK': 'United States / Denmark',
  'USD/SEK': 'United States / Sweden',
  'USD/NOK': 'United States / Norway',
  'USD/INR': 'United States / India',
  'GBP/INR': 'United Kingdom / India'},
 'Crypto': {'BTC-USD': 'Bitcoin USD',
  'ETH-USD': 'Ethereum USD',
  'USDT-USD': 'Tether USD',
  'BNB-USD': 'BNB USD',
  'USDC-USD': 'USD Coin USD',
  'XRP-USD': 'XRP USD',
  'ADA-USD': 'Cardano USD',
  'DOGE-USD': 'Dogecoin USD',
  'STETH-USD': 'Lido Staked ETH USD',
  'HEX-USD': 'HEX USD',
  'MATIC-USD': 'Polygon USD',
  'SOL-USD': 'Solana USD',
  'DOT-USD': 'Polkadot USD',
  'WTRX-USD': 'Wrapped TRON USD',
  'BUSD-USD': 'Binance USD USD',
  'LTC-USD': 'Litecoin USD',
  'SHIB-USD': 'Shiba Inu USD',
  'AVAX-USD': 'Avalanche USD',
  'TRX-USD': 'TRON USD',
  'DAI-USD': 'Dai USD',
  'WBTC-USD': 'Wrapped Bitcoin USD',
  'LINK-USD': 'Chainlink USD',
  'UNI7083-USD': 'Uniswap USD',
  'ATOM-USD': 'Cosmos USD',
  'OKB-USD': 'OKB USD',
  'LEO-USD': 'UNUS SED LEO USD',
  'ETC-USD': 'Ethereum Classic USD',
  'XMR-USD': 'Monero USD',
  'TON11419-USD': 'Toncoin USD',
  'ICP-USD': 'Internet Computer USD',
  'XLM-USD': 'Stellar USD',
  'BCH-USD': 'Bitcoin Cash USD',
  'FIL-USD': 'Filecoin USD',
  'TUSD-USD': 'TrueUSD USD',
  'APT21794-USD': 'Aptos USD',
  'HBAR-USD': 'Hedera USD',
  'LDO-USD': 'Lido DAO USD',
  'ARB11841-USD': 'Arbitrum USD',

In [31]:
def mix_strategies(mix: set, mixing_logic: str):
    try:
        mix_signal = np.zeros((len(mix[0]),))
        mixing_logic = re.sub(r"S[0-9]+", "{}", mixing_logic)
        print(mixing_logic)
        for m in mix:
            m["is_buy"] = m["Signals"] == 1
            m["is_sell"] = m["Signals"] == 2           
        for i in range(len(mix[0])):
            buy_evaluations = []
            sell_evaluations = []
            for m in mix:
                buy_evaluations.append(m["is_buy"].iat[i])
                sell_evaluations.append(m["is_sell"].iat[i])
            buy_evaluation = eval(mixing_logic.format(*buy_evaluations))
            sell_evaluation = eval(mixing_logic.format(*sell_evaluations))
            if buy_evaluation:
                mix_signal[i] = 1
            if sell_evaluation:
                mix_signal[i] = 2
        return pd.DataFrame(index=mix[0].index, data={"Signals": mix_signal})
    except Exception as e:
        return e

In [32]:
s = pd.read_csv("LGBM-predictions.csv", names=["Signals"], skiprows=1)
mix = []
mix.append(s)
mix.append(s)
mixing_logic = "S1 and S2"

In [33]:
 r = mix_strategies(mix, mixing_logic)

{} and {}

In [34]:
r.tail(100)

      Signals
1005      0.0
1006      0.0
1007      0.0
1008      0.0
1009      0.0
1010      0.0
1011      0.0
1012      1.0
1013      1.0
1014      0.0
1015      0.0
1016      0.0
1017      0.0
1018      0.0
1019      1.0
1020      1.0
1021      0.0
1022      0.0
1023      0.0
1024      0.0
1025      0.0
1026      0.0
1027      2.0
1028      0.0
1029      0.0
1030      0.0
1031      0.0
1032      0.0
1033      0.0
1034      0.0
1035      0.0
1036      0.0
1037      0.0
1038      0.0
1039      0.0
1040      1.0
1041      1.0
1042      0.0
1043      1.0
1044      0.0
1045      0.0
1046      0.0
1047      0.0
1048      0.0
1049      0.0
1050      0.0
1051      0.0
1052      0.0
1053      0.0
1054      0.0
1055      0.0
1056      0.0
1057      0.0
1058      0.0
1059      0.0
1060      0.0
1061      0.0
1062      0.0
1063      0.0
1064      0.0
1065      0.0
1066      0.0
1067      0.0
1068      0.0
1069      0.0
1070      0.0
1071      0.0
1072      0.0
1073      0.0
1074      0.0
1075      0.0
1076      1.0
1077      1.0
1078      0.0
1079      0.0
1080      0.0
1081      0.0
1082      0.0
1083      0.0
1084      0.0
1085      0.0
1086      0.0
1087      0.0
1088      0.0
1089      0.0
1090      0.0
1091      0.0
1092      0.0
1093      0.0
1094      0.0
1095      0.0
1096      0.0
1097      0.0
1098      0.0
1099      0.0
1100      0.0
1101      0.0
1102      0.0
1103      0.0
1104      0.0

In [35]:
(s).tail(100)

      Signals  is_buy  is_sell
1005        0   False    False
1006        0   False    False
1007        0   False    False
1008        0   False    False
1009        0   False    False
1010        0   False    False
1011        0   False    False
1012        1    True    False
1013        1    True    False
1014        0   False    False
1015        0   False    False
1016        0   False    False
1017        0   False    False
1018        0   False    False
1019        1    True    False
1020        1    True    False
1021        0   False    False
1022        0   False    False
1023        0   False    False
1024        0   False    False
1025        0   False    False
1026        0   False    False
1027        2   False     True
1028        0   False    False
1029        0   False    False
1030        0   False    False
1031        0   False    False
1032        0   False    False
1033        0   False    False
1034        0   False    False
1035        0   False    False
1036        0   False    False
1037        0   False    False
1038        0   False    False
1039        0   False    False
1040        1    True    False
1041        1    True    False
1042        0   False    False
1043        1    True    False
1044        0   False    False
1045        0   False    False
1046        0   False    False
1047        0   False    False
1048        0   False    False
1049        0   False    False
1050        0   False    False
1051        0   False    False
1052        0   False    False
1053        0   False    False
1054        0   False    False
1055        0   False    False
1056        0   False    False
1057        0   False    False
1058        0   False    False
1059        0   False    False
1060        0   False    False
1061        0   False    False
1062        0   False    False
1063        0   False    False
1064        0   False    False
1065        0   False    False
1066        0   False    False
1067        0   False    False
1068        0   False    False
1069        0   False    False
1070        0   False    False
1071        0   False    False
1072        0   False    False
1073        0   False    False
1074        0   False    False
1075        0   False    False
1076        1    True    False
1077        1    True    False
1078        0   False    False
1079        0   False    False
1080        0   False    False
1081        0   False    False
1082        0   False    False
1083        0   False    False
1084        0   False    False
1085        0   False    False
1086        0   False    False
1087        0   False    False
1088        0   False    False
1089        0   False    False
1090        0   False    False
1091        0   False    False
1092        0   False    False
1093        0   False    False
1094        0   False    False
1095        0   False    False
1096        0   False    False
1097        0   False    False
1098        0   False    False
1099        0   False    False
1100        0   False    False
1101        0   False    False
1102        0   False    False
1103        0   False    False
1104        0   False    False

In [76]:

p = pd.read_csv("LGBM-predictions.csv")
p

          ,Date,Signals
0        0,2018-01-10,0
1        1,2018-01-11,0
2        2,2018-01-12,0
3        3,2018-01-16,0
4        4,2018-01-17,0
...                 ...
1100  1100,2022-05-24,0
1101  1101,2022-05-25,0
1102  1102,2022-05-26,0
1103  1103,2022-05-27,0
1104  1104,2022-05-31,0

[1105 rows x 1 columns]

In [81]:
p.to_csv("LGBM-predictions.csv", index=False)

In [77]:
p[["r", "Date","Signals"]] = p[",Date,Signals"].str.split(",", expand=True)

In [78]:
p.drop([",Date,Signals", "r"], axis=1, inplace=True)

In [79]:
p.head(30)

          Date Signals
0   2018-01-10       0
1   2018-01-11       0
2   2018-01-12       0
3   2018-01-16       0
4   2018-01-17       0
5   2018-01-18       0
6   2018-01-19       0
7   2018-01-22       0
8   2018-01-23       0
9   2018-01-24       0
10  2018-01-25       0
11  2018-01-26       0
12  2018-01-29       0
13  2018-01-30       0
14  2018-01-31       0
15  2018-02-01       0
16  2018-02-02       0
17  2018-02-05       0
18  2018-02-06       0
19  2018-02-07       1
20  2018-02-08       1
21  2018-02-09       1
22  2018-02-12       1
23  2018-02-13       1
24  2018-02-14       0
25  2018-02-15       0
26  2018-02-16       1
27  2018-02-20       0
28  2018-02-21       0
29  2018-02-22       0

In [86]:
input_string = "s1 and s2 and s100"
output_string = re.sub(r'\bs(\d+)\b', lambda match: f"{{{match.group(1)}}}", input_string)
print(output_string)

SyntaxError: f-string: single '}' is not allowed (Temp/ipykernel_8364/3888402936.py, line 2)